.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand img{
  
    max-height: 40px;
    display:inline-block;
        margin-top: -9px;

}
.navbar-brand{
    color: #ccc !important;color: rgba(100, 131, 132, 0.45) !important;
    padding: 20px 15px;
}


.hero{
  background: asset-url('city_bg.png') no-repeat center;
  background-size:cover;
  border:none;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}
.hero .get-it h1{
color: #FFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
 .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
    
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:#000;
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:30px;
  color:#fff;
}

.features h2{
  color:#fff;
  letter-spacing: 5px;
  font-weight:300;
  text-transform: uppercase;
}

.features p{
  color:#fff;
  font-weight:200;
  letter-spacing:2px;
  font-size:14px;    
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:12px;
  font-weight:100;
    font-family: "Audiowide";
    color:#CCC;
}

.site-footer .social-icons a:hover{
  opacity:1;
} 

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
 
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

div.imac-mockup{
  position:relative;
  max-width:1000px;
  margin:20px;
}

.imac-mockup img.device{
  width:100%;
  height:auto;
}

.imac-mockup .screen{
  position:absolute;
  width:92%;
  height:64.5%;
  top:5%;
  border-radius:2px;
  left:4%;
  background-color:#aaa;
  overflow:hidden;
  background:url('screen-content-imac.jpg');
  background-size:cover;
  background-position:center;
}

.imac-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-26%;
  right:-39%;
  transform:rotate(-19deg);
  opacity:0.1;
}

div.iphone-mockup{
  position:relative;
  max-width:350px;
  margin:20px;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}


.btn{    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;}


.user-name {

padding: 0 !important ;

padding-left: 5px;

padding-top: 15px !important;

text-align: center;

a {

color: #fff !important;

margin: 0 !important;

padding: 5px!important;

}

a:hover, a:focus {

color: #000 !important;

}

}

.nav.navbar-right {

padding-bottom: 10px;

padding-top: 5px;

}

.nav.navbar-nav {

.navbar-link {

border-radius: 5px;

color: #fff;

margin-top: 15px;

padding: 8px;

}

.navbar-link:focus, .navbar-link:hover {

background: #3071a9;

color: #fff;

}

li a {

margin-right: 5px;

}

}

.nav.navbar-right li {

.btn {

color: #fff !important;

margin-top: 5%;

}

.btn-danger:hover, .btn-danger:focus {

background-color: darken(#d9534f,20%) !important;

}

.btn-primary:hover, .btn-primary:focus {

background-color: darken(#428bca,20%) !important;

}

}

.btn-primary:visited, .btn-danger:visited {

color: #fff;

}
