<section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Stay on top of your digital project with instant access and notifications. Let us help you move forward with your digital design project.  </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><span class="fa fa-cloud" style="font-size:60px;margin-bottom:10px;"></span>
                            <p>Cloud-ready </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="fa fa-bank" style="font-size:60px;margin-bottom:10px;"></span>
                            <p>Saves You Money</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="fa fa-fire" style="font-size:60px;margin-bottom:10px;"></span>
                            <p>Fire Proof</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>