<section class="pitch">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>How it works?</h2>
                    <p>Sign up your organization and get your digital design projects complete. With instant access and notifications, we help you move forward and prize your online goals.  </p>
                </div>
                
            </div>
        </div>
    </section>